.container-code {
    padding: 0 20px;
    color: #fff;
    height: 100%;
    width: 100%;
}

.container-code-empty {
    height: 96.5px;
}

.container-code-not-empty {
    height: 42.5px;
}

.container-code-item {
    background-color: #606376;
    border-radius: 20px;
    margin-bottom: 14px;
    height: 80px;
    padding-left: 10px;
    align-items: center;
}

.item-bus {
    width: 50px;
    flex: 0 0 50px;
    height: 50px;
    background-color: #fff;
    border-radius: 25px;
    padding: 10px;
}

.item-bus-img {
}

.item-info {
    flex-direction: column;
    margin-left: 10px;
}

.item-info-row {
    font-size: 12px;
    align-items: center;
}

.row-img {
    flex: 0 0 10px;
    width: 10px;
    height: 10px;
}

.row-value {
    width: 90px;
    margin-left: 6px;
}

.container-buttons {
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
}

.container-buttons-item {
    align-items: center;
    icon-height: 20px;
    icon-width: 20px;
}

.add {
    background-color: #cb4343;
}

.setting {
    background-color: #6354cf;
    margin-left: 40px;
}


