/* pages/feedback/feedback.wxss */

.feedback {
    padding: 24rpx;
    &-tip {
        color: #666;
        font-size: 28rpx;
    }
    &-input {
        border: 1rpx solid #e5e5e5;
        display: block;
        border-radius: 8rpx;
        margin: 0 auto;
        padding: 16rpx 24rpx;
        width: calc(100% - 48rpx);
        margin-top: 24rpx;
    }

    &-buttons {
        display: flex;
        justify-content: space-between;
        margin-top: 24rpx;
    }

    &-list {
        margin-top: 60rpx;
        &-item {
            .item-comment {
                display: flex;
                justify-content: space-between;
                align-items: center;
                &-info {
                    display: flex;
                    align-items: center;
                    .info-avatar {
                        width: 60rpx;
                        height: 60rpx;
                        border-radius: 50%;
                    }
                    .info-name {
                        font-size: 32rpx;
                        color: #000;
                        margin-left: 24rpx;
                    }
                }

                &.reply {
                    padding-left: 84rpx;
                    margin-top: 16rpx;
                }

                &-date {
                    color: #CCC;
                }
            }

            .item-content {
                padding-left: 84rpx;
                word-break: break-all;
                color: #595959;

                &.reply {
                    padding-left: 168rpx;
                }
            }

            &:nth-child(n+2) {
                margin-top: 24rpx;
            }
        }
    }
}