.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.container-progress {
    height: 100%;
    position: fixed;
    z-index: 200;
}

.container-progress-el {
    width: 100%;
    height: 100%;
    color: rgba(92, 161, 255, 0.4);
    stroke-width: 3px;
}

.content {
    height: 100%;
    flex-direction: column;
/*    overflow: scroll;*/
    padding: 0 30px;
}

.refresh {
    width: 100%;
}

.buses {
/*    flex-direction: column;*/
/*    margin-top: 46px;*/
}

.buses-item {
    background-color: #6354cf;
    justify-content: space-between;
    margin-bottom: 16px;
    flex: 0 0 80px;
    padding: 10px 14px;
    border-radius: 20px;
}

.buses-item-time {
    flex: 0 0 80px;
    align-items: center;
}

.time-value {
    font-size: 36px;
}

.time-unit {
    font-size: 12px;
    margin-left: 2px;
    margin-top: 10px;
}

.buses-item-info {
    font-size: 15px;
    flex-direction: column;
    align-items: flex-end;
    flex: 1;
}

.info-num-unit {
    margin-left: 3px;
}

.info-km-unit {
    margin-left: 3px;
}
