.city {
    &-list {
        height: calc(100vh - 68rpx);
        overflow: auto;
        &-item {
            line-height: 80rpx;
            padding-left: 60rpx;
            &:nth-child(n+2) {
                border-top: 1rpx solid #eee;
            }
        }
    }
}