/* pages/notice/notice.wxss */
.notice {
  height: 100%;
  overflow: auto;
  padding-left: 32rpx;
}

.notice-item {
  position: relative;
}

.notice-item-date {
  color: #9195a3;
  font-size: 28rpx;
  display: flex;
}

.notice-item-date:before {
  content: "";
  width: 16rpx;
  height: 16rpx;
  border: 2rpx solid #1989fa;
  border-radius: 50%;
  box-sizing: border-box;
  margin-top: 8rpx;
  margin-right: 16rpx;
}

.notice-item-content {
  font-size: 32rpx;
  color: #333;
  padding: 8rpx 32rpx 32rpx;
}

.notice-item:after {
  content: "";
  width: 0rpx;
  position: absolute;
  top: 28rpx;
  left: 8rpx;
  bottom: 0;
  border-left: 2rpx dashed #ddd;
}

.notice-item:last-child:after {
  content: none;
}
